<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Загрузка файлов</title>
</head>
<body>
    <h1>Загрузите два файла</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="file1"><strong>База данных:</strong></label><br>
        <input type="file" name="file1" id="file1" required><br><br>
        
        <label for="file2"><strong>Новые эмбеддинги:</strong></label><br>
        <input type="file" name="file2" id="file2" required><br><br>
        
        <button type="submit">Отправить</button>
    </form>
</body>
</html>
